:root {
    --setting-popout-title: "App Settings";
    --guild-setting-popout-title: "Server Settings";
    --public-servers-popout-title: "Public Servers";
    --setting-popout-font: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

@media only screen and (min-width: 1280px) and (min-height: 738px) {
    #user-settings, #server-settings {
        width: 1280px;
        height: 720px;
        padding-top: 0px;
        left: calc(calc(100% - 1280px) / 2);
        top: calc(calc(100% - 720px) / 2);
    }
    #user-settings:before {
        color: var(--text-normal);
        content: var(--setting-popout-title);
        font-weight: 600;
        font-family: var(--setting-popout-font);
        padding-left: 10px;
        padding-top: 2px;
    }
    
    #server-settings:before {
        color: var(--text-normal);
        content: var(--guild-setting-popout-title);
        font-weight: 600;
        font-family: var(--setting-popout-font);
        padding-left: 10px;
        padding-top: 2px;
    }
    
    .baseLayer-35bLyl.stop-animations, .baseLayer-35bLyl.animating-rRxada {
        transform: none !important;
        pointer-events: none;
    }
    .baseLayer-35bLyl.stop-animations {
        opacity: 20% !important;
    }
}

/** Settings */
:root {
    /** Title of the popout */
    --setting-popout-title: "App Settings";
    /** Title of the popout for guild */
    --guild-setting-popout-title: "Server Settings";
    /** Title font */
    --setting-popout-font: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
